section[data-type="chapter"]:before, 
section[data-type="chapter"]:after {
    display: table;
    content: "";
    line-height: 0; 
}

section[data-type="chapter"]:after {
    clear: both;
}

[class*="span"] {
  float: left;
  min-height: 1px;
  margin-left: 1%; 
}

[class*="span"] img {
  max-width: 100%;
}

.span6 {
  width: 49%;
}

.span4 {
  width: 32%;
}

.span3 {
  width: 24%;
}